{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<article>
  <h1><a href="{{post.permalink}}">{{post.title}}</a></h1>
  <div class="subtitle">
  {% if post.date_created %}
  <time>Posted on {{post.date_created.Format()}}</time>
  {% endif %}
  {% if post.permalink %}
  <a class="permalink" href="{{post.permalink}}">&#8734;</a>
  {% endif %}
  </div>
  <p>
  {{post.snip}}
  </p>
  {% if post.is_long %}
  <a href="{{post.permalink}}" class="readmore">&#8618;</a>
  {% endif %}
</article>

<hr/>
{% endfor %}

<a class="older-posts" href="/archive/">Older posts &rarr;</a>
{% endblock %}
