<article>
  <h1><a href="{{computed_link}}">{{title}}</a></h1>
  <div class="subtitle">
  {{#posted_info}}
  <time>{{verb}} on {{formatted}}</time>
  {{/posted_info}}
  {{#link}}
  <a class="permalink" href="{{permalink}}">&#8734;</a>
  {{/link}}
  </div>
  <p>
    {{{content}}}
  </p>
  <p class="share">
  <!-- Place this tag where you want the +1 button to render -->
  <g:plusone size="medium"></g:plusone>

  <!-- Place this render call where appropriate -->
  <script type="text/javascript">
    (function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'https://apis.google.com/js/plusone.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
   </script>

   <a href="https://twitter.com/share" class="twitter-share-button" data-via="borismus">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </p>
  <p>
  Comments are disabled. I'd like to hear your thoughts, though! Please send me
  a tweet via <a href="http://twitter.com/borismus">@borismus</a> or contact me
  <a href="/about">by email</a>.</p>
  <a href="/" class="back">&#8617;</a>
</article>

