@import "compass/reset";

/***********************************
* General styles.
************************************/

$para-spacing: 16px;
$dark-green: #305030;
$light-green: #0A0;
$gray: #444;

html {
  overflow-x: hidden;
}

body {
  font-family: "PT Sans", "PTSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  color: #222220;
}

a, a:visited {
  -webkit-transition: all 0.3s ease-in;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: $light-green;

  &:hover {
    border-bottom: 1px solid #ADADA5;
    color: #29251F;
  }
}

img {
  max-width: 100%;
}

h1 { font-size: 40px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }

h1, h2, h3, h4, h5 {
  font-family: "Yanone Kaffeesatz", "TrumpGothicEastMedium", "Arial Narrow", Impact, Calibri, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #305030;
  line-height: 1.2;
  padding-bottom: 5px;

  a, a:visited { color: #305030; border: 0; }
  a:hover {
    border: 0;
    text-decoration: underline;
  }
}

#border {
  background: $dark-green;
  width: 100%;
  height: 7px;
}

header {
  width: 100%;
  height: 10px;
  background: #3B3;
  font-size: 13px;
  font-weight: bold;
  padding: 6px;
  text-transform: uppercase;
  background-image: -webkit-gradient( linear, left bottom, left top, from(#3B3), to(#4A4));
  background-image: -moz-linear-gradient(#3B3, #4A4);
  -webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,.2), 0 15px 15px rgba(255,255,255,1);
  -moz-box-shadow: inset 0 -1px 2px rgba(0,0,0,.2), 0 15px 15px rgba(255,255,255,1);
  border-bottom: 2px solid $dark-green;

  a, a:visited, a:active {
    position: relative;
    color: #eee;
    border: 0;
    letter-spacing: 1px;
    padding: 5px 10px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;

    &:hover {
      color: #fff;
      border: 0;
      -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
      -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
      background: $dark-green;
    }
  }

  span {position: absolute; top: 2px;}
  .left {left: 10px;}
  .right {
    right: 10px;
    a { margin-left: 5px; }
  }
}

.readmore {
  &:hover {
    border-bottom: none;
  }
}

strong { font-weight: bold; }

em { font-style: italic; }

#main {
  margin: 0 auto;
  overflow: hidden;

  .subtitle {
    margin-top: -7px;
    font-size: 14px;
    color: $dark-green;

    time {
    }

    a.permalink {
      color: $dark-green;
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }

  blockquote {
    padding-left: 45px;
    font: italic 14px/1.6 Georgia, "Times New Roman", Times, serif;
    background: transparent url(/static/images/quote.png) no-repeat;
  }

  pre, ul, ol, p, blockquote {
    margin-bottom: $para-spacing;
  }

  ul, ol {
    margin-left: 24px;
  }

  ul { list-style-type: square; }
  ol { list-style-type: decimal; }

  code {
    font-family: 'Inconsolata', monospace;
  }

  pre {
    font-family: 'Inconsolata', monospace;
    background: #eee;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

#articles {
  float: left;
}

.older-posts {
  float: left;
  margin-bottom: 20px;
}

article {
  margin: 0 0 30px;
  padding-top: 1px;
  float: left;
  width: 100%;
  overflow: hidden;
}

aside {
  -webkit-hyphens: auto;
  color: $gray;
  margin-bottom: 30px;

  img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

#push {
  height: 70px;
}

footer {
  clear: both;
  font: 12px/1.4 Arial, Helvetica, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;

  p {
    max-width: 260px;
    float: left;
    font-size: 10px;
    color: $gray;
  }

  .social {
    overflow: hidden;
    margin-top: 3px;
    display: block;
    float: right;
    margin-left: 10px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    background-size: 36px;

    &:hover {
      opacity: 0.7;
      border-bottom: 1px solid transparent;
    }
  }

  .twitter { background: url(/static/images/twitter.png) no-repeat 0 0; }
  .plus { background: url(/static/images/plus.png) no-repeat 0 0; }
  .github { background: url(/static/images/github.png) no-repeat 0 0; }
  .rss { background: url(/static/images/rss.png) no-repeat 0 0; }
}


/***********************************
* Archive page styles.
************************************/
#archives {
  overflow: hidden;
  margin-bottom: 30px;

  article {
    margin-bottom: 5px;
  }
  .title {
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    text-transform: none;
    a {
      color: $dark-green;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }

  .time {
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    display: inline;
    float: right;
    margin-left: 10px;
  }
}




/***********************************
* Responsive design styles.
************************************/

// Smaller than this means nearly everything should be hidden, and
// content should be the first thing that shows up.
$small: 650px;
// Between this and the minimal threshold, hide the sidebar. Greater
// than this, show the full layout with the sidebar visible.
$large: 1000px;

@media screen and (max-width: $small) {
  // Styles for the smallest version.

  header { display: none; }
  #articles { margin-top: 5px; }

  footer, #main {
    padding: 0 7%;
    font-size: 90%;
  }

  h1 { font-size: 30px; }
  h2 { font-size: 22px; }
  h3 { font-size: 18px; }

  aside {
    background: #F5F6ED;
    float: left;
    padding: 20px;
    border-radius: 10px;

    img {
      width: 30%;
      border-radius: 0;
      margin-right: 20px;
      float: left;
    }

    p {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  // Hide github and rss for small version.
  footer {
    .github, .rss { display: none; }
  }
}

@media screen and (min-width: $small) and (max-width: $large) {
  // Styles for the mid version.

  footer, #main {
    width: 640px;
  }

  h1 { font-size: 35px; }
  h2 { font-size: 24px; }
  h3 { font-size: 18px; }

  #articles { margin-top: 30px; }

  aside {
    background: #F5F6ED;
    float: left;
    padding: 20px;
    border-radius: 10px;

    img {
      width: 30%;
      border-radius: 0;
      margin-right: 20px;
      float: left;
    }

    p {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: $large) {
  // Styles for the large version.

  footer, #main {
    width: 940px;
  }

  #articles {
    width: 630px;
    margin-top: 50px;
  }

  aside {
    margin-right: 50px;
    margin-top: 100px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    float: right;
    width: 200px;
    text-shadow: 0 1px 1px;
  }
}

::selection {
  background: #4CC417;
  color: white;
  text-shadow: none;
}

@import "highlight-github";
